/.DS_Store
.DS_Store
/SampleProject/SampleProject.xcodeproj/xcuserdata/saim.xcuserdatad/xcdebugger/
/SampleProject/SampleProject.xcodeproj/xcuserdata/saim.xcuserdatad/xcschemes/SampleProject.xcscheme
/SampleProject/SampleProject.xcodeproj/project.xcworkspace/xcuserdata/saim.xcuserdatad/UserInterfaceState.xcuserstate
/SampleProject/SampleProject.xcodeproj/xcuserdata/saim.xcuserdatad/xcschemes/xcschememanagement.plist